.Rhistory
.RData
.Ruserdata
.Rproj.user/

results/*
!results/representative_real/
!results/representative_real/**

data/reference/
data/snp_tables/
data/megahit/
data/kraken2/

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.bcf

*.html
*.zip

__pycache__/
.DS_Store
Thumbs.db
